
#canvas {
    border-style:solid;
    border-width:1px;
}

#picture {
    margin-left: 25%;
    background: red;
    width: 500px;
}


.wholeBox {
    display: inline-block;
}


#textbox {
    margin-left: 50%;
    background: yellow;
}
#picbox {
    position: relative;

}
.ic-box{
    position: absolute;
}

.icon {
    width: 50px
}

.icon:hover {
    background: green;
}
#mobile {
      display: block;
      margin: 0 auto; 
}


#i1 {
    position: absolute;
    top: 77%;
    left: 15%;
}


#i2 {
    position: absolute;
    top: 35%;
    left: 45%;
    
}

#i3 {
    position: absolute;
    top: 65%;
    left: 45%;
}

#i4 {
    position: abswhaolute;
    top: 65%;
    left: 70%;
}

#i5 {
    position: absolute;
    top: 45%;
    left: 20%;
}

#i6 {
    position: absolute;
    top: 45%;
    left: 70%; 
}

#i7 {
    position: absolute;
    top: 65%;
    left: 20%;
}

#i8 {
    position: absolute;
    top: 35%;
    left: 20%;
}



#i9 {
    position: absolute;
    top: 45%;
    left: 45%; 
}

#i10 {
    position: absolute;
    top: 35%;
    left: 70%; 
}
