
#canvas {
    border-style:solid;
    border-width:1px;
}

#picture {
    margin-left: 25%;
    width: 600px;
}


.myDiv {
    position: relative;
    width: 1910px;
}

.wholeBox {
    display: inline-block;
}


#textbox {
    margin-left: 65%;
    background: #F1F9FD;
    top: 150px;
    height: 300px;
    color: #607D8B;
    font-size: 40px;
    bottom: 500;
    position: absolute;
    font-family: 'Roboto Slab', serif;
}
#picbox {
    position: relative;
    margin-left:50%;
    width: 650px;
}icon
.ic-box{
    position: absolute;
}

#settingsicon {
    width: 35px;
}

.icon {
    width: 30px;
}

.icon:hover {
    background: ;
        -webkit-filter: drop-shadow(0 0 8px black); /* webkit only 
                     assuming the content is written in black */
    filter: drop-shadow(0 0 8px black);              /* FF~35 */
    filter: drop-shadow(0 0 0 8px black);              /* MDN */
}

.firstCol {
    left: 36%;
}

.secondCol {
    left: 47%; 
}

.thirdCol {
    left:58%; 
}

#mobile {
      display: block;
      margin: 0 auto; 
      width: 50%;
}


#i1 {
    position: absolute;
    top: 77%;
    left: 31%; 
}


#i2 {
    position: absolute;
    top: 35%;
    
}

#i3 {
    position: absolute;
    top: 65%;
}

#i4 {
    position: absolute;
    top: 65%;
}

#i5 {
    position: absolute;
    top: 45%;
}

#i6 {
    position: absolute;
    top: 45%;
}

#i7 {
    position: absolute;
    top: 65%;
}

#i8 {
    position: absolute;
    top: 35%;
}



#i9 {
    position: absolute;
    top: 45%;
}

#i10 {
    position: absolute;
    top: 35%;
}

.staff-top, .staff-bot, .staff-top-last, .staff-bot-last {
    padding-right: 0px !important;
    padding-left: 0px !important;
    position: relative;
    bottom: 550;
    left: 100;

}

.staff-top, .staff-bot, .staff-top-last {
  border-bottom: 1px white solid;
  width: 450px;
}



.iconunderline, .iconunderline {
    border-right: 1px white solid;
}
.iconunderline, .iconunderline, .iconunderline-last {
    border-bottom: 1px white solid;
    position: relative;
    bottom: 761;
    left: 95;
    width: 120px;
}

#middleline {
    left: 260;
    bottom: 762;

}
#rightline {
    left: 423;
    bottom: 764;

}




.iconunderlinebottom, .iconunderlinebottom {
    border-right: 1px white solid;
}
.iconunderlinebottom, .iconunderlinebottom, .iconunderlinebottom-last {
    border-bottom: 1px white solid;
    position: relative;
    bottom: 450;
    left: 80;
    width: 120px;
}
#middlelinebottom {
    left: 220;
    bottom: 452;
}
#rightlinebottom {
    left: 360;
    bottom: 454;

}
.rightsideline {
    border-right: 1px solid white;
    height: 90px;
    margin-left: 30px;
    margin-right: -56px;
    margin-top: -80;
}

#headlinemobile {
    color: white;
    bottom: 75%;
    font-size: 30px;
    left: 35%;
    font-family: 'Roboto', serif;
}

.icontext {
    color: white;
    font-size: 20px;
    padding-left:  5%;
    margin-top: 10px

}

.text {
    color: white;
    margin-left: 4;
    margin-top: 5;
    font-size: 17px;
    font-family: 'Roboto', serif;
}

#servicetext {
    margin-left: 0;
    font-family: 'Roboto', serif;
}

#serviceline {
    margin-right: -45px;
}

#reporttext {
    margin-left: -15px 
}

#boparm {
    margin-left: -11;
}

#boparmunderline {
    margin-right: -39px;
}

#contacttext {
    margin-left: -3;
}

#contactsideline {
    margin-right: -53px;
}

#bookresource {
    margin-left: -8;
}

#smarttext {
    margin-left: -17;
}

#smartline {
    margin-right: -30;
}

#locktext {
    margin-left: 10;
}

#consumetext {
    margin-left: -15;
}

#txt {
    color: white;
    font-size: 15px;
    bottom: 75%
}








