
#canvas {
    border-style:solid;
    border-width:1px;
}

#picture {
    margin-left: 25%;
    width: 600px;
}


.myDiv {
    position: relative;
    width: 1910px;
}

.wholeBox {
    display: inline-block;
}


#textbox {
    margin-left: 65%;
    background: #F1F9FD;
    top: 150px;
    height: 13%;
    color: #607D8B;
    font-size: 120%;
    bottom: 500;
    position: absolute;
    font-family: 'Roboto Slab', serif;
}
#picbox {
    position: relative;
    margin-left:50%;
    width: 650px;
}icon
.ic-box{
    position: absolute;
}

#settingsicon {
       width: 20px;
    margin-top: 36px;
    margin-left: 19px;
}

.icon {
    width: 30px;
}

.icon:hover {
    background: ;
        -webkit-filter: drop-shadow(0 0 3px black); /* webkit only 
                     assuming the content is written in black */
    filter: drop-shadow(0 0 3px black);              /* FF~35 */
    filter: drop-shadow(0 0 0 3px black);              /* MDN */
}

.firstCol {
    left: 36%;
}

.secondCol {
    left: 47%; 
}

.thirdCol {
    left:58%; 
}

#mobile {
      display: block;
      margin: 0 auto; 
      width: 50%;
}


#i1 {
    position: absolute;
    top: 77%;
    left: 31%; 
}


#i2 {
    position: absolute;
    top: 35%;
    
}

#i3 {
    position: absolute;
    top: 65%;
}

#i4 {
    position: absolute;
    top: 65%;
}

#i5 {
    position: absolute;
    top: 45%;
}

#i6 {
    position: absolute;
    top: 45%;
}

#i7 {
    position: absolute;
    top: 65%;
}

#i8 {
    position: absolute;
    top: 35%;
}



#i9 {
    position: absolute;
    top: 45%;
}

#i10 {
    position: absolute;
    top: 35%;
}

.staff-top, .staff-bot, .staff-top-last, .staff-bot-last {
    padding-right: 0px !important;
    padding-left: 0px !important;
    position: relative;
    bottom: 277px;
    left: 225px;

}

.staff-top, .staff-bot, .staff-top-last {
  border-bottom: 1px white solid;
    width: 216px;
}



.iconunderline, .iconunderline {
    border-right: 1px white solid;
}
.iconunderline, .iconunderline, .iconunderline-last {
    border-bottom: 1px white solid;
    position: relative;
left: 220px;
    bottom: 380px;
    width: 59px;}

#middleline {
    left: 291px;
    bottom: 381px;
}
#rightline {
    left: 362px;
    bottom: 383px;
}




.iconunderlinebottom, .iconunderlinebottom {
    border-right: 1px white solid;
}
.iconunderlinebottom, .iconunderlinebottom, .iconunderlinebottom-last {
    border-bottom: 1px white solid;
    position: relative;
    bottom: 450;
    left: 80;
    width: 120px;
}
#middlelinebottom {
    left: 220;
    bottom: 452;
}
#rightlinebottom {
    left: 360;
    bottom: 454;

}
.rightsideline {
     border-right: 1px solid white;
    height: 50px;
    margin-right: -21px;
margin-top: -52px;
}

#headlinemobile {
    color: white;
    bottom: 75%;
    font-size: 30px;
    left: 35%;
    font-family: 'Roboto', serif;
}

.icontext {
    color: white;
    font-size: 20px;
    padding-left:  5%;
    margin-top: 10px

}

.text {
    color: white;
    margin-left: 4;
    margin-top: 5;
    font-size: 10px;
    font-family: 'Roboto', serif;
}

#servicetext {
    margin-left:  -3px;
    font-family: 'Roboto', serif;
}

#serviceline {
    margin-right: -14px;
}

#reporttext {
    margin-left: -10px;
}

#boparm {
   margin-left: -8px;
}

#boparmunderline {
    margin-right: -13px;
}

#contacttext {
    margin-left: -3;
}

#contactsideline {
    margin-right: -17px;
}

#bookresource {
    margin-left: -3px;
}

#smarttext {
 margin-left: -14px;
}

#smartline {
    margin-right: -10px;}

#locktext {
margin-left: 7px;}

#consumetext {
    margin-left: -10px;
}

#txt {
    color: white;
    font-size: 15px;
    bottom: 75%
}








